
<div class="contenedor">
    <div class="col-md-8">
        <h1>Framework Angular</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto delectus in quis cum, ullam necessitatibus ratione illo vel veritatis tenetur praesentium enim fuga fugiat sapiente, officiis nihil, ducimus expedita error. Dicta, dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto delectus in quis cum, ullam necessitatibus ratione illo vel veritatis tenetur praesentium enim fuga fugiat sapiente, officiis nihil, ducimus expedita error. Dicta, dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolor iste consectetur praesentium quo fugit rerum.</p>
    </div>
    <div class="col-md-4">
        <img src="https://img.icons8.com/fluency/300/null/angularjs.png" alt=""/>   
    </div>
</div>