<div class="card-container d-flex justify-content-center">

    <div class="card">
      <div class="card-header text-center">Libre</div>
      <div class="card-body">
        <h4 class="card-title text-center"><b style="color: black;">$0</b> / mes</h4>
        <div class="card-text text-center"> 
                10 usuarios incluidos <br>
                2 GB de almacenamiento <br>
                Soporte de correo electrónio <br>
                Acceso al centro de ayuda
        </div>
      </div>
      <a href="#" class="btn btn-outline-info">Registrate gratis</a>
    </div>

    <div class="card">
      <div class="card-header text-center">Pro</div>
      <div class="card-body">
        <h4 class="card-title text-center"><b style="color: black;">$15</b> / mes</h4>
        <div class="card-text text-center"> 
                20 usuarios incluidos<br>
                10 GB de almacenamiento<br>
                Soporte prioritario por correo electrónico<br>
                Acceso al centro de ayuda
        </div>
      </div>
      <a href="#" class="btn btn-primary">Empezar</a>
    </div>
    <div class="card">
      <div class="card-header text-center">Empresa</div>
      <div class="card-body">
        <h4 class="card-title text-center"><b style="color: black;">$29</b> / mes</h4>
        <div class="card-text text-center"> 
               30 usuarios incluidos<br>
               15 GB de almacenamiento<br>
                Soporte telefónico y por correo electrónico<br>
                Acceso al centro de ayuda
        </div>
      </div>
      <a href="#" class="btn btn-primary">Contáctenos</a>
    </div>
  </div>
